@use "variables" as *;

nav {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 8fr 1fr;

    .logo {
        grid-column-start: 2;
    }
}

.restos-card {
    display: grid;
    grid-template-columns: 9fr 1fr 1fr;
    grid-template-rows: 175px 1fr 2fr 2fr 1fr;
    align-items: center;

    .restos-img {
        grid-column: 1 / 4;
    }
    
    .restos-name {
        grid-row-start: 3;
        margin-left: 15px;
    }
    
    .restos-location {
        grid-row-start: 4;
        margin-left: 15px;
    }
    
    .fa-heart {
        grid-column: 2 / 4;
        grid-row: 3/5;
        justify-self: center;
    }
}


.menu-infos {
    width: 100%;
    display: grid;
    grid-template-columns: 9fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    align-items: center;
    padding-left: 20px;

    .plat-title {
        grid-column-start: 1;
        grid-row-start: 2;
    }

    .plat-sub {
        grid-column-start: 1;
        grid-row-start: 3;
    }

    .plat-price {
        grid-column-start: 2;
        grid-row-start: 3;
        color: $dark-grey;
    }
}