// BREAKPOINTS //
@mixin tablet {
    @media (min-width: 729px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1024px) {
        @content;
    }
}

// LOADER //
@mixin loaderpizza ($size: 130px) {
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $size;
    height: $size;
    border-radius: 50%;
}

@mixin pizzamixin ($degin, $degout) {
    background: conic-gradient(#FFFFFF #{$degin}deg, transparent #{$degout}deg);
}