@use "../abstracts/" as *;

footer {
    height: 190px;
    background-color: $dark-grey;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20px;

    @include tablet {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    @include desktop {
        height: 115px;
        padding-bottom: 30px;
        flex-direction: row-reverse;
        align-items: flex-end;
        justify-content: initial;
        gap: 90px;
    }
    
    a {
        color: white;
    }

    .logo {
        height: 20px;
        filter: invert(1);

        @include tablet {
            height: 25px;
        }

        @include desktop {
            height: 20px;
            padding-right: 25px;
        }
    }
}

.footer-list {
    gap: 6px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet {
        align-items: flex-end;
    }

    @include desktop {
        flex-direction: row;
        gap: 15px;
    }

    i {
        display: inline-block;
        width: 30px;
    }

    address {
        font-style: normal;
    }

    .footer-space {
        @include desktop {
            padding-left: 30px;
        }
    }
}