@use "../abstracts/" as *;

footer {
    height: 190px;
    background-color: $dark-grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    
    a {
        color: white;
    }

    .logo {
        height: 55%;
        filter: invert(1);
    }
}

.footer-list {
    height: 100px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    i {
        display: inline-block;
        width: 30px;
    }

    address {
        font-style: normal;
    }
}