@use "../abstracts/" as *;


nav {
    position: relative;
    height: 65px;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0,0, 0, 0.15);

    .fa-arrow-left {
     font-size: 20px;
     color: $dark-grey;
    }
}