@use "../abstracts/" as *;


nav {
    position: relative;
    height: 65px;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0,0, 0, 0.15);
    display: grid;
    align-items: center;
    justify-content: center;

    .logo {
        @include logo-typo(black,1.9em)
    }
}