* {
    font-family: 'Shrikhand', cursive;
    font-family: 'Roboto', sans-serif;
}

.logo {
    font-family: 'Shrikhand' ;
    font-size: 1.9em;
    color: #101010;
}

.section-title {
    font-size: 1.5em;
    font-weight: 700;
}