@use "../abstracts/" as *;

.section-fonct {
    height: 400px;
    display: grid;
    align-content: center;
    justify-content: center;

    @include desktop {
        height: 230px;
        padding: 50px 90px 50px 90px;
        justify-content: initial;
    }

    h2 {
        padding-bottom: 35px;
    }
}


.fonct-cards-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    @include desktop {
        flex-direction: row;
    }
}