@use "../abstracts/" as *;

.section-title {
    font-size: 1.5em;
    font-weight: 700;
}

// HERO //
.section-hero {
    height: 290px;
    background-color: $light-grey;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    h1 {
        font-size: 1.5em;
        font-weight: 700;
        padding-bottom: 20px;

        @include desktop {
            font-size: 2.5em;
        }
    }

    p {
        font-size: 1.1em;
        font-weight: 300;
        padding-bottom: 33px;
    }
}


// FONCTIONNEMENT //
.section-fonct {
    height: 410px;
    display: grid;
    align-content: center;
    justify-content: center;

    @include desktop {
        height: 230px;
        padding: 50px 0 50px 0;
        justify-content: initial;
        justify-items: center;
    }

    h2 {
        padding-bottom: 35px;
        width: 80%;
    }
}


.fonct-cards-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    @include desktop {
        flex-direction: row;
        width: 80%;
        gap: 3%;
    }
}


// HOME-RESTOS //
.section-home-restos {
    background-color: $light-grey;
    padding: 50px 0 65px 0;
    display: grid;
    justify-items: center;
    
    @include desktop {
        padding: 35px 0 30px 0;
    }

    .section-title {
    padding-bottom: 20px;
    width: 90%;

    @include desktop {
        padding-bottom: 30px;
        width: 80%;
    }
    }
}

.restos-cards-list {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    @include tablet {
        row-gap: 50px;
        justify-content: space-between;
    }

    @include desktop {
        width: 80%;
    }

    a {
        width: 100%;

    @include tablet {
        width: 45%;
    }}
}