@use "../abstracts/" as *;

.section-home-restos {
    background-color: $light-grey;
    padding-top: 50px;
    padding-bottom: 65px;

    .section-title {
    padding-bottom: 20px;
    }
}

.restos-cards-list {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 20px;
}