@use "../abstracts/" as *;

.menu-img {
    width: 100%;
    height: 275px;
    object-fit: cover;
}

.full-menu {
    background-color: $light-grey;
    padding: 0px 15px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border-radius: 40px;
    position: relative;
    margin-top: -40px;

    @include tablet {
        width: 90%;
        margin: -40px 5% 0 5%;
    }

    @include desktop {
        width: 80%;
        margin: -40px 10% 0 10%;
    }
}

.menu-resto {
    h1 {
        font-family: Shrikhand;
        font-size: 1.7em;
        font-weight: 400;
        margin: 30px 0px;
        padding-right: 40px;
    }

    i {
        font-size: 1.4em;
    }
}

.menu-section {
    width: 100%;
    margin-bottom: 35px;
}

.menu-section-title {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 300;

    &::after {
        content: '';
        margin-top: 5px;
        display: block;
        height: 3px;
        width: 40px;
        background-color: $tertiary-color;
    }
}

.menu-content {
    display: flex;
    flex-direction: row;

    .plat-title {
        font-size: 1.1em;
        font-weight: 500;
        @extend %txtoverflow;
    }
    
    .plat-sub {
        font-size: 0.9em;
        font-weight: 300;
        @extend %txtoverflow;
    }
    
    .plat-price {
        font-size: 0.9em;
        font-weight: 700;
        padding-right: 10px;
        justify-self: center;
    }
}

.menu-content i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 0;
    height: 100%;
    font-size: 0;
    border-radius: 0 15px 15px 0;
    background-color: $tertiary-color;
    transition: all 600ms 150ms ease-in-out;
    cursor: pointer;
}

.menu-content:hover i {
    height: 100%;
    width: 60px;
    font-size: 20px;
}

.menu-button {
    margin-bottom: 50px;
}